
.page-icon-generation table {
    text-align: center;
    width: 100%;
}

.page-icon-generation table,
.page-icon-generation tr,
.page-icon-generation td {
    border-collapse: collapse;
    padding: 0;
}

.page-icon-generation td {
    border: 1px solid black;
}

.panel td.row-label {
    width: 15%;
    vertical-align: middle;
}

.panel[id^='panel-app-'] .row-label {
    width: 82px;
}

td pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.panel-group .panel.panel-default {
 margin-bottom: 20px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
    content: "\e080";
}
